.checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.checkout tr {
  border: 1px solid black;
}
.checkout tr img {
  width: 80px;
  height: 80px;
  margin: auto;
}
.checkout tr th {
  width: 200px;
}
.checkout tbody tr:nth-child(even) {
  background-color: beige;
}