main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 80px auto;
}

.imagen {
  margin-right: 40px;
}

.form {
  background: #fafafa;
  border-radius: 20px;
  margin-left: 40px;
  width: 430px;
}
.form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
}
.form form h2 {
  text-align: center;
}
.form form label {
  color: #575757;
  font-size: 14px;
  margin: 10px 0;
}
.form form input {
  height: 40px;
  background-color: #fff;
  color: #575757;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
}
.form form input::-webkit-input-placeholder {
  padding-left: 10px;
  color: #e1e1e1;
}
.form form input::-moz-placeholder {
  padding-left: 10px;
  color: #e1e1e1;
}
.form form input:-ms-input-placeholder {
  padding-left: 10px;
  color: #e1e1e1;
}
.form form input::-ms-input-placeholder {
  padding-left: 10px;
  color: #e1e1e1;
}
.form form input::placeholder {
  padding-left: 10px;
  color: #e1e1e1;
}
.form form p {
  color: #a09e9e;
}
.form form a {
  color: #a09e9e;
}
.form form button {
  background: #1991eb;
  border: 1px solid transparent;
  height: 40px;
  margin-top: 29px;
  color: white;
  font-weight: 900;
}
.form form .error {
  color: rgba(255, 0, 0, 0.598);
}