
.profile{
  text-align: center;
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  button{
    width: 150px;
  }
  input{
    height: 25px;
    border-radius: 8px;
    border: 1px solid rgba(128, 128, 128, 0.555);
  }
  .card-profile{
    img{
      width: 200px;
      border-radius: 100px;
    }
    margin: 50px;
    background-color: #fafafa;
    padding: 30px;
    border-radius: 20px;
    .datosProfile{
      text-align: center;
    }
  }
}